.other h2 {
    font-size: 18px;
    color: #444;
    margin-bottom: 7px;
}

.other a {
    color: #777;
    text-decoration: underline;
    font-size: 14px;
}

.other ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.App {
    font-family: sans-serif;
    text-align: center;
}

h1 {
    font-size: 24px;
    color: #333;
}

.ltr {
    text-align: left;
}

.rtl {
    text-align: right;
}

.Editor_Container {
    margin: 0 auto 20px auto;
    border: solid #c1c1c1 1px;
    border-radius: 2px;
    max-width: 85vw;
    color: #000;
    position: relative;
    line-height: 20px;
    font-weight: 400;
    text-align: left;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.Editor_Inner {
    background: #fff;
    position: relative;
}

.Editor_Input {
    min-height: 150px;
    resize: none;
    font-size: 15px;
    caret-color: rgb(5, 5, 5);
    position: relative;
    tab-size: 1;
    outline: 0;
    padding: 15px 10px;
    caret-color: #444;
}

.Editor_Placeholder {
    color: #999;
    overflow: hidden;
    position: absolute;
    text-overflow: ellipsis;
    top: 15px;
    left: 10px;
    font-size: 15px;
    user-select: none;
    display: inline-block;
    pointer-events: none;
}

.Editor_Text_Bold {
    font-weight: bold;
}

.editor-text-bold {
    font-weight: bold;
}

.Editor_Text_Italic {
    font-style: italic;
}

.editor-text-italic {
    font-style: italic;
}

/*
.Editor_Text_Underline {
    text-decoration: underline;
}

.Editor_Text_Strikethrough {
    text-decoration: line-through;
}

.Editor_Text_UnderlineStrikethrough {
    text-decoration: underline line-through;
}

.Editor_Text_Code {
    background-color: rgb(240, 242, 245);
    padding: 1px 0.25rem;
    font-family: Menlo, Consolas, Monaco, monospace;
    font-size: 94%;
}

.Editor_Link {
    color: rgb(33, 111, 219);
    text-decoration: none;
}

.Tree_View_Output {
    display: block;
    background: #222;
    color: #fff;
    padding: 5px;
    font-size: 12px;
    white-space: pre-wrap;
    margin: 1px auto 10px auto;
    max-height: 250px;
    position: relative;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: auto;
    line-height: 14px;
}

.Editor_Code {
    background-color: rgb(240, 242, 245);
    font-family: Menlo, Consolas, Monaco, monospace;
    display: block;
    padding: 8px 8px 8px 52px;
    line-height: 1.53;
    font-size: 13px;
    margin: 0;
    margin-top: 8px;
    margin-bottom: 8px;
    tab-size: 2;
    overflow-x: auto;
    position: relative;
}

.Editor_Code:before {
    content: attr(data-gutter);
    position: absolute;
    background-color: #eee;
    left: 0;
    top: 0;
    border-right: 1px solid #ccc;
    padding: 8px;
    color: #777;
    white-space: pre-wrap;
    text-align: right;
    min-width: 25px;
}

.Editor_Code:after {
    content: attr(data-highlight-language);
    top: 0;
    right: 3px;
    padding: 3px;
    font-size: 10px;
    text-transform: uppercase;
    position: absolute;
    color: rgba(0, 0, 0, 0.5);
}

.Editor_Token_Comment {
    color: slategray;
}

.Editor_Token_Punctuation {
    color: #999;
}

.Editor_Token_Property {
    color: #905;
}

.Editor_Token_Selector {
    color: #690;
}

.Editor_Token_Operator {
    color: #9a6e3a;
}

.Editor_Token_Attr {
    color: #07a;
}

.Editor_Token_Variable {
    color: #e90;
}

.Editor_Token_Function {
    color: #dd4a68;
}

.Editor_Paragraph {
    margin: 0;
    margin-bottom: 8px;
    position: relative;
}

.Editor_Paragraph:last-child {
    margin-bottom: 0;
}

.Editor_Heading_H1 {
    font-size: 24px;
    color: rgb(5, 5, 5);
    font-weight: 400;
    margin: 0;
    margin-bottom: 12px;
    padding: 0;
}

.Editor_Heading_H2 {
    font-size: 15px;
    color: rgb(101, 103, 107);
    font-weight: 700;
    margin: 0;
    margin-top: 10px;
    padding: 0;
    text-transform: uppercase;
}

.Editor_Quote {
    margin: 0;
    margin-left: 20px;
    font-size: 15px;
    color: rgb(101, 103, 107);
    border-left-color: rgb(206, 208, 212);
    border-left-width: 4px;
    border-left-style: solid;
    padding-left: 16px;
}

.Editor_List_Ol {
    padding: 0;
    margin: 0;
    margin-left: 16px;
}

.Editor_List_Ul {
    padding: 0;
    margin: 0;
    margin-left: 16px;
}

.Editor_ListItem {
    margin: 8px 32px 8px 32px;
}

.Editor_Nested_ListItem {
    list-style-type: none;
}

pre::-webkit-scrollbar {
    background: transparent;
    width: 10px;
}

pre::-webkit-scrollbar-thumb {
    background: #999;
}

.Debug_Timetravel_Panel {
    overflow: hidden;
    padding: 0 0 10px 0;
    margin: auto;
    display: flex;
}

.Debug_Timetravel_Panel_Slider {
    padding: 0;
    flex: 8;
}

.Debug_Timetravel_Panel_Button {
    padding: 0;
    border: 0;
    background: none;
    flex: 1;
    color: #fff;
    font-size: 12px;
}

.Debug_Timetravel_Panel_Button:hover {
    text-decoration: underline;
}

.Debug_Timetravel_Button {
    border: 0;
    padding: 0;
    font-size: 12px;
    top: 10px;
    right: 15px;
    position: absolute;
    background: none;
    color: #fff;
}

.Debug_Timetravel_Button:hover {
    text-decoration: underline;
}
*/

.Toolbar {
    display: flex;
    margin-bottom: 1px;
    background: #fff;
    padding: 4px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    vertical-align: middle;
}

.Toolbar button.Toolbar_Item {
    border: 0;
    display: flex;
    background: none;
    border-radius: 10px;
    padding: 8px;
    cursor: pointer;
    vertical-align: middle;
}

.Toolbar button.Toolbar_Item:disabled {
    cursor: not-allowed;
}

.Toolbar button.Toolbar_Item.Spaced {
    margin-right: 2px;
}

.Toolbar button.Toolbar_Item i.Format {
    background-size: contain;
    display: inline-block;
    height: 18px;
    width: 18px;
    margin-top: 2px;
    vertical-align: -0.25em;
    display: flex;
    opacity: 0.6;
}

.Toolbar button.Toolbar_Item:disabled i.Format {
    opacity: 0.2;
}

.Toolbar button.Toolbar_Item.Active {
    background-color: rgba(223, 232, 250, 0.3);
}

.Toolbar button.Toolbar_Item.Active i {
    opacity: 1;
}

.Toolbar .Toolbar_Item:hover:not([disabled]) {
    background-color: #eee;
}

.Toolbar .Divider {
    width: 1px;
    background-color: #eee;
    margin: 0 4px;
}

.Toolbar .Toolbar_Item .Text {
    display: flex;
    line-height: 20px;
    width: 200px;
    vertical-align: middle;
    font-size: 14px;
    color: #777;
    text-overflow: ellipsis;
    width: 70px;
    overflow: hidden;
    height: 20px;
    text-align: left;
}

.Toolbar .Toolbar_Item .Icon {
    display: flex;
    width: 20px;
    height: 20px;
    user-select: none;
    margin-right: 8px;
    line-height: 16px;
    background-size: contain;
}

i.Undo {
    background-image: url(icons/arrow-counterclockwise.svg);
}

i.Redo {
    background-image: url(icons/arrow-clockwise.svg);
}

i.Bold {
    background-image: url(icons/type-bold.svg);
}

i.Italic {
    background-image: url(icons/type-italic.svg);
}

/*
i.Underline {
    background-image: url(icons/type-underline.svg);
}

i.Strikethrough {
    background-image: url(icons/type-strikethrough.svg);
}

i.Left_Align {
    background-image: url(icons/text-left.svg);
}

i.Center_Align {
    background-image: url(icons/text-center.svg);
}

i.Right_Align {
    background-image: url(icons/text-right.svg);
}

i.Justify_Align {
    background-image: url(icons/justify.svg);
}
*/
