th {
    font-weight: normal;
}

body {
    -ms-overflow-style: none; /* 인터넷 익스플로러 */
    scrollbar-width: none; /* 파이어폭스 */
}

::-webkit-scrollbar {
    display: none; /* 크롬, 사파리, 오페라, 엣지 */
}

/***********************************************/
/* Offer Sheet */
.Container {
    display: flex;
    justify-content: center;
    margin: 2vh 0 0 0;
}

.Sheet {
    width: 90vw;
    border: solid #c1c1c1 1px;
    border-radius: 20px;
    margin: 0 0 6vh 0;
}

._ToggleOpen {
    display: flex;
    align-content: center;
    padding: 1vw 1vw 1vw 1vw;
    background-color: #03507D;
}

._ToggleClose {
    display: flex;
    align-content: center;
    padding: 1vw 1vw 1vw 1vw;
    background-color: #E3F5FE;
}

.Container .Opend {
    height: max-content;
    border-radius: 0 0 20px 20px;
    background-color: #f0f8fc;
    padding: 4vh 0 4vh 0;
}

.Container ._Category {
    display: flex;
    justify-content: center;
    margin: 28px 0 28px 0;
}

.Container ._Category .Detail {
    width: 85vw;
    display: flex;
    justify-content: left;
}

/***********************************************/
/* Offer Table */
.Table_Container {
    display: flex;
    justify-content: center;
}

.Table_Scroll {
    width: 85vw;
    overflow-x: auto;
    text-align: center;
    padding: 0 0 10px 0;
}

.Table_Table {
    /* background-color: #ffffff; */
    border-collapse: separate;
    border: solid 1px #c1c1c1;
    border-radius: 12px;
    padding: 4px;
}

.Table_Table_Head {
    color: #03507d;
}

.Table_Table_Body {
    line-height: 8px;
}

.Table_Table select {
    color: #03507d;
    border: solid 1px #c1c1c1;
    border-radius: 8px;
    padding: 4px;
}

.Table_Colspan {
    display: flex;
    justify-content: center;
}

/* Scroll Bar */
.Table_Scroll::-webkit-scrollbar {
    display: block;
    height: 8px;
}

/* Scroll Bar Thumb */
.Table_Scroll::-webkit-scrollbar-thumb {
    background: #c1c1c1;
    border-radius: 10px;
}

/***********************************************/
/* Offer Info */
.Info_Container {
    display: flex;
    justify-content: center;
    margin: 3vh 0 0 0;
}

.Info_Table {
    width: 85vw;
    border-collapse: separate;
}

.Info_Container .Info_Table .Border_Space {
    height: 28px;
    border: none;
}

/***********************************************/
/* Input */
.input::placeholder {
    color: #9b9b9b;
}

.Input {
    height: 24px;
    border: solid 1px #c1c1c1;
    border-radius: 8px;
    outline: none;
    padding: 0 12px 0 8px;
}

.Search_Input {
    display: flex;
    align-items: center;
    padding: 0 16px 0 16px;
}

.Button {
    background: inherit;
    border: none;
    box-shadow: none;
    border-radius: 0;
    padding: 0;
    margin: 0 4px 0 4px;
    cursor: pointer;
}

.Info_Input,
.Price_Payment {
    height: 28px;
    border: solid 1px #c1c1c1;
    border-radius: 8px;
    outline: none;
    padding: 0 0 0 8px;
}

.Info_Input {
    width: 240px;
}

.Price_Payment {
    width: 180px;
}

.Price_Payment_Std {
    width: 56px;
    height: 28px;
    margin: 0 8px 0 0;
    border: solid 1px #c1c1c1;
    border-radius: 8px;
    outline: none;
    padding: 0 0 0 4px;
}

.Datepicker {
    width: 144px;
    height: 24px;
    border: solid 1px #c1c1c1;
    border-radius: 8px;
    outline: none;
    padding: 2px 4px 2px 12px;
}

.DatepickerPeriod{
    width: 90px;
    height: 24px;
    border: solid 1px #c1c1c1;
    border-radius: 8px;
    outline: none;
    padding: 2px 4px 2px 12px;
    color: #65636c;
    font-weight: bold;
    margin-left: 25px;
}

/***********************************************/
/* Form */
.Wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 15px;
    padding: 2px 35px 2px 35px;
}

.inputWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #c1c1c1;
    border-radius: 8px;
    background-color: #ffffff;
    height: 85%;
    padding: 3px;
    width: 100%;
}

label {
    color: #49454F;
    font-weight: 400;
    font-size: 20px;
    margin-left: 20px;
}

._Input {
    border: none;
    background-color: #ffffff;
    text-align: right;
    font-size: 20px;
    color: #49454F;
    font-weight: bolder;
    margin-right: 20px;
    width: 60%;
    outline: none;
}

select {
    text-align: center;
}

._TextArea {
    display: grid;
    place-items: center;
    border: 1px solid #c1c1c1;
    font-size: 17px;
    color: #49454f;
    width: 96%;
    height: 160px;
    border-radius: 12px;
    padding: 10px;
    margin: 0 20px 0 20px;
}

.buttonWrapper {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
    margin-bottom: 15px;
}

.LineItemColumn {
    display: grid;
    text-align: center;
    grid-template-columns: 0.15fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    color: #7B7B7B;
    background-color: #E3E3E3;
    font-weight: 800;
    border: 1px solid #c1c1c1;
    border-radius: 9px;
    padding: 8px;
    margin: 20px;
    font-size: 20px;
}

.LineItemRow {
    display: grid;
    text-align: center;
    grid-template-columns: 0.15fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    color: #7B7B7B;
    background-color: #ffffff;
    font-weight: 800;
    border: 1px solid #c1c1c1;
    border-radius: 9px;
    padding: 8px;
    margin: 20px;
    font-size: 20px;
    align-items: center;
}

.LineItemInput {
    background-color: #ffffff;
    text-align: center;
    padding: 0.5rem;
    font-size: 1rem;
    color: #444444;
    font-weight: 400;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #c1c1c1;
    border-radius: 8px;
}


._none {
    display: none;
}

._checkbox {
    width: 20px;
    height: 20px;
    border: 1px solid #c1c1c1;
    border-radius: 7px;
}

._checkbox:checked {
    background-color: #03507D;
    border: 1px solid #c1c1c1;
    border-radius: 7px;
}

.SalesInfoItem {
    display: grid;
    text-align: center;
    grid-template-columns: 0.8fr 1fr;
    gap: 10px;
    width: 26%;
    color: #7B7B7B;
    background-color: #E3E3E3;
    font-weight: 800;
    border: 1px solid #c1c1c1;
    border-radius: 9px;
    padding: 8px;
    margin: 20px 20px 10px 20px;
    font-size: 20px;
}

.SalesInfoRow {
    display: grid;
    text-align: center;
    grid-template-columns: 1.1fr 0.9fr;
    gap: 15px;
    width: 26%;
    color: #7B7B7B;
    background-color: #ffffff;
    font-weight: 800;
    border: 1px solid #c1c1c1;
    border-radius: 9px;
    padding: 8px;
    margin: 20px 20px 10px 20px;
    font-size: 20px;
}

.ReviewWrapper {
    display: grid;
    grid-template-rows: 1fr 3fr;
}

.QualityItemColumn {
    display: grid;
    text-align: center;
    grid-template-columns: repeat(10, minmax(0, 1fr));
    gap: 0;
    color: #7B7B7B;
    background-color: #E3E3E3;
    font-weight: 800;
    border: 1px solid #c1c1c1;
    border-radius: 9px;
    padding: 1rem;
    margin: 1rem;
    font-size: 1rem;
}

.QualityItemColumn > div {
    padding: 0.5rem;
    box-sizing: border-box;
}

.QualityItemRow {
    display: grid;
    text-align: center;
    grid-template-columns: repeat(10, minmax(0, 1fr));
    gap: 0;
    color: #7B7B7B;
    background-color: #ffffff;
    font-weight: 800;
    border: 1px solid #c1c1c1;
    border-radius: 9px;
    padding: 1rem;
    margin: 1rem;
    font-size: 1rem;
}

.QualityItemRow > div {
    padding: 0.5rem;
    box-sizing: border-box;
}

.QualityItemInput {
    background-color: #ffffff;
    text-align: center;
    padding: 0.5rem;
    font-size: 1rem;
    color: #444444;
    font-weight: 500;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #c1c1c1;
    border-radius: 8px;
}

.FileColumn {
    display: grid;
    text-align: center;
    grid-template-columns: 1fr 8fr;
    gap: 10px;
    color: #7B7B7B;
    background-color: #E3E3E3;
    font-weight: 800;
    border: 1px solid #c1c1c1;
    border-radius: 9px;
    padding: 8px;
    margin: 20px 20px 10px 20px;
    font-size: 20px;
}

._FileItem {
    display: grid;
    text-align: center;
    grid-template-columns: 1fr;
    color: #7B7B7B;
    background-color: #ffffff;
    font-weight: 400;
    border: 1px solid #c1c1c1;
    border-radius: 9px;
    padding: 8px;
    margin: 20px 20px 10px 20px;
    font-size: 16px;
}

._FileName {
    color: #007AFF;
    font-weight: 800;
    text-underline: #007AFF;
    text-decoration: underline;
}