.Container {
    width: 100%;
    height: 84px;
    display: grid;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.Container > div {
    display: grid;
    /*grid-template-columns: 24px 804px 120px 84px 156px 48px 70px 70px 108px; 헤더 잘림 이슈로 fr 비율로 교체 */
    grid-template-columns: 1fr 4fr 1.5fr 1.3fr 2fr 1.4fr 0.4fr 1.5fr 0.5fr;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

/* POSCO 로고 */
.Container > div > img {
    width: 120px;
}

/* 메뉴 링크 */
.Container > div > div:nth-child(3),
.Container > div > div:nth-child(5),
.Container > div > div:nth-child(4) {
    font-size: 1.5em;
    font-weight: bold;
    color: #03507d;
}

/* 로그인 아이콘 */
.Container > div > div:nth-child(6) {
    display: grid;
}

/* 로그인 아이콘 */
.Container > div > div:nth-child(6) > img {
    width: 30px;
}

.Container > div > div:nth-child(6) {
    width: 120px;
}

/* 사용자 이름 */
.Container > div > div:nth-child(7) {
    font-size: 1.2em;
    font-weight: bold;
    color: #03507d;
}

.User {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    color: #03507D;
    font-weight: 700;
    gap: 5px;
}