.Container {
    width: 100%;
    height: 84px;
    display: grid;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.Container > div {
    display: grid;
    /*grid-template-columns: 45px 340px 170px 144px 150px 150px 44px 166px 55px;*/
    /*grid-template-columns: 0.5fr 1.6fr 1.5fr 1.3fr 1.6fr 1.4fr 0.4fr 1.5fr 0.5fr; 알림 컴포넌트가 가려서 결국 px로.. */
    justify-content: center;
    align-items: center;
    gap: 10px;
}

/* POSCO 로고 */
.Container > div > img {
    width: 120px;
}

/* 메뉴 링크 */
.Container > div > div:nth-child(3),
.Container > div > div:nth-child(5),
.Container > div > div:nth-child(4) {
    font-size: 1.5em;
    font-weight: bold;
    color: #03507d;
}

/* 로그인 아이콘 + 사용자 이름 */
.Container > div > div:nth-child(6) {
    display: flex;
    width: fit-content;
    font-size: 1.2em;
    font-weight: bold;
    color: #03507d;
    align-items: center;
}

/* 로그인 아이콘 */
.Container > div > div:nth-child(6) img {
    width: 36px;
    margin: 0 0.5vw 0 0;
}

/* 알림 버튼 */
.Container > div > div:nth-child(7) Button:hover {
    background-color: #03507d !important;
    color: #ffffff !important;
    border: none !important;
}

/* 로그아웃 버튼 */
.Container > div > div:nth-child(8) Button:hover {
    background-color: pink !important;
    background-color: #03507d !important;
    color: #ffffff !important;
    border: none !important;
}

.Container_Nav {
    display: grid;
    width: 100%;
    height: max-content;
    position: absolute;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.Container_Nav > div {
    display: grid;
    grid-template-columns: 45px 340px 170px 144px 150px 150px 44px 166px 55px;
    background-color: #ffffff;
    position: relative;
    justify-content: center;
    gap: 10px;
}

.Container_Nav > div > div:nth-child(2) {
    width: 120px;
}

/* Inquiry 메뉴 */
.Container_Nav > div > div:nth-child(3) {
    margin: 2vh 0 2vh 0;
}

/* Inquiry 메뉴 리스트별 */
.Container_Nav > div > div:nth-child(3) > div {
    margin: 2vh 0 2vh 0;
}

/* Inquiry 메뉴 리스트별 */
.Container_Nav > div > div:nth-child(3) > div:hover {
    font-weight: 600;
}

/* VoC 메뉴 */
.Container_Nav > div > div:nth-child(4) {
    margin: 2vh 0 2vh 0;
}

/* VoC 메뉴 리스트별 */
.Container_Nav > div > div:nth-child(4) > div {
    margin: 2vh 0 2vh 0;
}

/* VoC 메뉴 리스트별 */
.Container_Nav > div > div:nth-child(4) > div:hover {
    font-weight: 600;
}
