._Label {
  border-radius: 10px 10px 0 0;
  border: 1px solid #C1C1C1;
  width: 160px;
  height: 20px;
  padding: 3px;
  margin-left: 7vh;
  margin-bottom: 10vh;
}

._text1 {
  color: #616161;
  font-size: 13px;
  font-weight: bold;
}

._text2 {
  color: #007AFF;
  font-size: 13px;
  font-weight: bold;
}

._Inquiry {
  display: flex;
  justify-content: center;
  border-radius: 0 20px 20px 20px;
  border: 1px solid #C1C1C1;
  width: 90%;
  height: 90px;
  margin-top: -10vh;
  margin-left: 7vh;
}

._InquiryItem {
  margin: 30px auto;
}

._Product {
  display: flex;
  flex-direction: column;
  margin-left: 5vh;
  margin-top: 0.4vh;
}

._Size {
  display: flex;
  flex-direction: row;
  gap: 50px;
  margin-top: -2vh;
}

._InquirySearchBox {
  width: 89%;
  height: 280px;
  border-radius: 15px;
  border: 1px solid #C1C1C1;
  padding: 5px;
  margin: 50px auto;
}

._SearchBox {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 2fr 1fr 3fr; /* 세 개의 열, 3번째 열은 두 배 넓이 */
  grid-template-rows: repeat(3, 50px); /* 3행의 높이를 100px로 설정 */
}

._Text {
  color: #49454F;
  font-size: 26px;
  font-weight: 800;
  margin-left: 25px;
}

._Title {
  color: #49454F;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: left;
  margin-top: -4px;
  margin-left: 25px;
}

._Input {
  width: 123px;
  height: 25px;
  border-radius: 7px;
  font-size: 16px;
  border: 1px solid #c1c1c1;
  color: #c1c1c1;
  margin-left: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-align: center;
}

._searchResult {
  display: flex;
  margin-left: 50px;
}

._searchCount {
  color: #F02323;
  font-weight: bold;
}