/* Question Report Component *************************/
.Report_Container {
    width: 1320px;
    margin: 36px auto 0 auto;
}

.Report_Container > div:first-child {
    display: grid;
    grid-template-columns: 360px 120px 360px 120px 360px;
    justify-content: center;
}

.Report_Container div div {
    display: grid;
    grid-template-rows: 84px 28px 64px;
    font-size: 20px;
    font-weight: 700;
    color: #454545;
    text-align: center;
}

/* 카테고리 아이콘 */
.Report_Container div div img {
    margin: 0 auto 0 auto;
}

/* 구분선 */
.Report_Container > div img {
    margin: auto;
}

/* 카테고리별 문의 개수 */
.Report_Container div:nth-child(3) {
    font-size: 48px;
    font-weight: 400;
    color: #03507d;
}

/* Search Bar Component ******************************/
.Question_Search_Container {
    width: 1320px;
    height: 228px;
    margin: 36px auto 0 auto;
    border: solid 1px #c1c1c1;
    border-radius: 20px;
}

.Question_Search_Container > div:first-child {
    display: grid;
    grid-template-rows: 52px 52px 36px 32px;
    margin: 36px 0 0 36px;
}

/* 아이콘 + 문의 조회 */
.Question_Search_Container > div > div:nth-child(1) {
    display: grid;
    grid-template-columns: 48px 120px;
    align-items: start;
    font-size: 24px;
    font-weight: 600;
    color: #49454f;
}

/* 문의 제목 + 문의 등록일 */
.Question_Search_Container > div > div:nth-child(2) > :nth-child(1) {
    display: grid;
    grid-template-columns: 120px 320px 128px 200px 48px 1fr 1fr 1fr;
    align-items: center;
    font-size: 16px;
    color: #8b8b8b;
}

/* 정렬 조건 + 정렬 버튼 */
.Question_Search_Container > div > div:nth-child(3) {
    display: grid;
    grid-template-columns: 120px 96px 96px 96px 96px;
    align-items: center;
    font-size: 16px;
    color: #8b8b8b;
}

/* 검색 결과 */
.Question_Search_Container > div > div:nth-child(4) {
    display: grid;
    grid-template-columns: 30fr 1fr 0.5fr 1fr;
    align-items: center;
    font-size: 16px;
    color: #8b8b8b;
    text-align: right;
}

/* 검색 결과 개수 */
.Question_Search_Container > div > div:nth-child(4) > div {
    margin: 0 0 0 12px;
    font-size: 24px;
    font-weight: 600;
    color: red;
}

/* Question Card Component ***************************/
.Card_Container {
    width: 360px;
    height: 300px;
    margin: 0 0 24px 0;
    border: solid 1px #ffffff;
    border-radius: 12px;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 5px 24px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.Card_Container:hover {
    background-color: #cbefff;
}

.Card_Text {
    margin: 0 0 0 192px;
    font-size: 12px;
}

.Card_Title {
    margin: 24px 0 0 0;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.Card_Move_To {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 36px 48px 0 36px;
}

.Answer {
    font-size: 16px;
    font-weight: bold;
    color: #03507d;
}

/* Question List Component ***************************/
.Question_Doesnt_Exist {
    width: 360px;
    height: 300px;
    margin: 0 0 24px 0;
    background-color: #c1c1c1;
    color: #ffffff;
    font-weight: bold;
    border-radius: 12px;
    text-align: center;
    align-content: center;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 5px 24px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.Question_Card {
    width: 1320px;
    margin: 0 auto 24px auto;
    display: grid;
    column-gap: 120px;
    grid-template-columns: 360px 360px 360px;
}

/* Question Modal Component */
.Modal_Container {
    width: 900px;
    height: 600px;
    margin: 5% auto 0 auto;
    border: solid 1px #ffffff;
    border-radius: 12px;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 5px 24px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.Modal_Outside {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

/* 마크(Q, A) */
.Modal_Container img:nth-child(1) {
    margin: 0 0 0 24px;
}

/* 질문 & 답변 Container */
.Modal_Part_Question,
.Modal_Part_Answer {
    width: 840px;
    height: fit-content;
    border: solid 1px #c1c1c1;
    border-radius: 12px;
    background-color: #ffffff;
    word-break: break-all;
}

.Modal_Part_Question {
    margin: 0 auto 0 auto;
}

.Modal_Part_Answer {
    margin: 24px auto 0 auto;
}

/* 질문 & 답변 Container 마크, 제목, 폴더, 파일 Grid */
.Modal_Part_Question div:nth-child(1),
.Modal_Part_Answer div:nth-child(1) {
    display: grid;
    grid-template-columns: 64px 524px 32px 96px 96px;
    align-items: center;
}

/* 질문 & 답변 제목 */
.Modal_Part_Question p,
.Modal_Part_Answer p {
    color: #6e6e6e;
    font-size: 24px;
    font-weight: 600;
}

/* 고객사 & 담당자 첨부파일 */
.Modal_Part_Question div div,
.Modal_Part_Answer div div {
    color: #6e6e6e;
    font-size: 12px;
    font-weight: 600;
}

/* 질문 & 답변 내용 */
.Modal_Part_Question div:nth-child(2),
.Modal_Part_Answer div:nth-child(2) {
    color: #6e6e6e;
    font-size: 16px;
    margin: 0 64px 32px 64px;
}

.Modal_Part_Answer div:nth-child(2) {
    min-height: 112px;
    max-height: 112px;
    overflow-y: auto;
}

/* Scroll Bar */
.Modal_Part_Answer div:nth-child(2)::-webkit-scrollbar {
    display: block;
    width: 8px;
    height: 8px;
}

.Modal_Part_Answer div:nth-child(2)::-webkit-scrollbar-thumb {
    background: #c1c1c1;
    border-radius: 10px;
}

._Tag {
    width: 840px;
    margin: 52px auto 24px auto;
}

._Button {
    position: relative;
    width: 840px;
    height: 32px;
    margin: 12px auto 24px auto;
}

._Button Button {
    position: sticky;
}

.Answering {
    width: 840px;
    height: 228px;
    margin: 24px auto 0 auto;
}

/* Question & Answer Page ****************************/
.Question_Title {
    width: 1320px;
    margin: 24px auto 24px auto;
    font-size: 24px;
    font-weight: bold;
    color: #49454f;
}