/******************************************************************/
/* 질문 현황 정보 그룹 *********************************************/
/******************************************************************/
.Question_Overview {
    width: 1320px;
    margin: 36px auto 0 auto;
}

.Question_Overview > div:first-child {
    display: grid;
    justify-content: center;
}

/* 전체 문의 그룹, 답변 대기 그룹, 답변 완료 그룹 */
.Question_Overview div div {
    display: grid;
    grid-template-rows: 84px 28px 64px;
    font-size: 20px;
    font-weight: 700;
    /* color: #454545; */
    text-align: center;
}

/* 카테고리 아이콘 */
.Question_Overview div div img {
    margin: 0 auto 0 auto;
}

/* 구분선 */
.Question_Overview > div img {
    margin: auto;
}

/* 카테고리별 문의 개수 */
.Question_Overview div:nth-child(3) {
    font-size: 48px;
    font-weight: 400;
    color: #03507d;
}

/******************************************************************/
/* 질문 조회 시 사용하는 조건 그룹 **********************************/
/******************************************************************/
.Question_Filter_Panel {
    width: 1320px;
    margin: 36px auto 0 auto;
    border: solid 1px #c1c1c1;
    border-radius: 20px;
}

.Question_Filter_Panel > div:first-child {
    display: grid;
    margin: 36px 0 0 36px;
}

/* 아이콘 + 문의 조회 */
.Question_Filter_Panel > div > div:nth-child(1) {
    display: grid;
    grid-template-columns: 48px 120px;
    align-items: start;
    font-size: 24px;
    font-weight: 600;
    /* color: #49454f; */
}

/* 문의 제목 + 문의 등록일 */
.Question_Filter_Panel > div > div:nth-child(2) > :nth-child(1) {
    display: grid;
    grid-template-columns: 120px 320px 128px 180px 28px 1fr 1fr 1fr;
    align-items: center;
    font-size: 16px;
    /* color: #8b8b8b; */
}

/* [담당자 전용] 문의 번호 + 고객사명 */
.Question_Filter_Panel > div > div:nth-child(3) > :nth-child(1) {
    display: grid;
    grid-template-columns: 120px 320px 128px 200px;
    align-items: center;
    font-size: 16px;
    /* color: #8b8b8b; */
}

/* 정렬 조건 + 정렬 버튼 */
.Question_Filter_Panel > div > div:nth-last-child(3) {
    display: grid;
    grid-template-columns: 120px 96px 96px 96px 96px;
    align-items: center;
    font-size: 16px;
    /* color: #8b8b8b; */
}

/* 검색 결과 */
.Question_Filter_Panel > div > div:nth-last-child(2) {
    display: grid;
    grid-template-columns: 30fr 1fr 0.5fr 1fr;
    align-items: center;
    font-size: 16px;
    /* color: #8b8b8b; */
    text-align: right;
}

/* 검색 결과 개수 */
.Question_Filter_Panel > div > div:nth-last-child(2) > div {
    margin: 0 0 0 12px;
    font-size: 24px;
    font-weight: 600;
    color: red;
}

/******************************************************************/
/* 질문 등록 시 선택하는 유형 그룹 **********************************/
/******************************************************************/
.Question_Type_Selector {
    width: 1320px;
    height: 228px;
    margin: 36px auto 0 auto;
    border: solid 1px #c1c1c1;
    border-radius: 20px;
}

.Question_Type_Selector > div:first-child {
    display: grid;
    grid-template-rows: 64px 52px 36px;
    margin: 36px 0 0 36px;
}

/* 아이콘 + VoC 문의하기 */
.Question_Type_Selector > div > div:nth-child(1) {
    display: grid;
    grid-template-columns: 48px 160px;
    font-size: 24px;
    font-weight: 600;
    /* color: #49454f; */
}

/* 문의 유형 + 라디오 버튼 */
.Question_Type_Selector > div > div:nth-child(2) {
    display: grid;
    grid-template-columns: 200px 48px 108px 48px 164px 48px 108px;
    /* align-items: center; */
    font-size: 20px;
    font-weight: 600;
    /* color: #8b8b8b; */
}

/* Inquiry No. + 검색창 */
.Question_Type_Selector > div > div:nth-child(3) {
    display: grid;
    grid-template-columns: 228px 228px 120px;
    /* align-items: center; */
    font-size: 20px;
    font-weight: 600;
    /* color: #8b8b8b; */
}

/* Inquiry No. + 검색창 정렬 */
.Question_Type_Selector > div > div:nth-child(3) Input,
.Question_Type_Selector > div > div:nth-child(3) Button {
    display: grid;
    align-items: center;
}

/* 문의 유형 Margin */
.Question_Type_Selector > div > div:nth-child(2) > div:first-child,
.Question_Type_Selector > div > div:nth-child(3) > div:first-child {
    margin: 0 0 0 48px;
}

/******************************************************************/
/* 질문 제목 및 내용 입력 그룹 **************************************/
/******************************************************************/
.Question_Input {
    width: 1320px;
    height: 580px;
    margin: 36px auto 72px auto;
    border: solid 1px #c1c1c1;
    border-radius: 20px;
}

.Question_Input > div:first-child {
    display: grid;
    grid-template-rows: 72px 56px 176px 84px 64px 48px;
    margin: 36px 0 0 36px;
}

/* 성명, 이메일 */
.Question_Input > div > div:nth-child(1) {
    display: grid;
    grid-template-columns: 180px 228px 180px 480px;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
    color: #8b8b8b;
}

/* 성명, 이메일 */
.Question_Input > div > div:nth-child(1) > div:nth-child(even) {
    color: #03507d;
}

/* 성명 + 이메일 + 문의 작성 Margin */
.Question_Input > div > div {
    margin: 0 0 0 48px;
}

/* 첨부파일, 파일 추가, 파일 삭제 */
.Question_Input > div > div:nth-child(4) {
    height: 92px;
    display: grid;
    grid-template-columns: 120px 96px 96px 600px;
    align-items: center;
    font-size: 20px;
    font-weight: 400;
    /* color: #8b8b8b; */
}

/* 첨부파일 안내 문구 */
.Question_Input > div > div:nth-child(4) > div:nth-child(4) {
    font-size: 12px;
    font-weight: 400;
}

/* 첨부파일 안내 문구 */
.Question_Input > div > div:nth-child(5) {
    font-size: 12px;
    font-weight: 400;
}

/* 첨부파일 박스 */
.Question_Input > div > div:nth-child(5) {
    width: 1144px;
    height: 36px;
    align-content: center;
    border: solid 1px #c1c1c1;
    border-radius: 8px;
}

/* 첨부파일명 */
.Question_Input > div > div:nth-child(5) > div {
    text-align: center;
}

/* 문의 등록 버튼 */
.Question_Input > div > div:nth-child(6) {
    margin: 0 84px 0 48px;
    text-align: center;
}

/******************************************************************/
/* 질문 카드 컴포넌트 **********************************************/
/******************************************************************/
.Question_Card {
    width: 360px;
    height: 300px;
    margin: 0 0 24px 0;
    border: solid 1px #ffffff;
    border-radius: 12px;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 5px 24px 0px,
        rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    cursor: default;
}

.Question_Card > div {
    display: grid;
    grid-template-rows: 52px 84px 80px 32px;
    margin: 24px 24px 0 24px;
}

/* 답변 대기/완료 버튼, 문의 번호 그룹 */
.Question_Card > div > div:nth-child(1) {
    display: grid;
    grid-template-columns: 176px 128px;
    align-items: center;
    /* color: #808080; */
}

/* 고객사명, 문의 등록일, 답변 등록일 그룹 */
.Question_Card > div > div:nth-child(2) {
    display: grid;
    grid-template-columns: 176px 132px;
    font-size: 12px;
}

/* 고객사명 */
.Question_Card > div > div:nth-child(2) > div:nth-child(1) {
    font-size: 20px;
    font-weight: 600;
    grid-row: 1 / span 2;
}

/* 제목 */
.Question_Card > div > div:nth-child(3) {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

/* 협업 요청 + 답변 달기 그룹 */
.Question_Card > div > div:nth-child(4) {
    display: grid;
    grid-template-columns: 236px 72px;
}

/* 답변 달기 */
.Question_Card > div > div:nth-child(4) > div:nth-child(2) {
    font-size: 16px;
    font-weight: 600;
    color: #03507d;
    cursor: pointer;
}

/******************************************************************/
/* 질문 카드 리스트 나열 *******************************************/
/******************************************************************/
.Question_Doesnt_Exist {
    width: 360px;
    height: 300px;
    margin: 0 0 24px 0;
    background-color: #c1c1c1;
    color: #ffffff;
    font-weight: bold;
    border-radius: 12px;
    text-align: center;
    align-content: center;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 5px 24px 0px,
        rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.Question_Card_List {
    width: 1320px;
    margin: 0 auto 24px auto;
    display: grid;
    column-gap: 120px;
    grid-template-columns: 360px 360px 360px;
}

/******************************************************************/
/* 질문 및 답변 모달 컴포넌트 ***************************************/
/******************************************************************/
.Question_Modal_Container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.Question_Modal {
    display: grid;
    grid-template-rows: 60px 68px 180px 220px;
    width: 900px;
    height: 600px;
    margin: 0 auto 0 auto;
    border: solid 1px #ffffff;
    border-radius: 12px;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 5px 24px 0px,
        rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

/* VoC 문의 번호 + 문의 번호 */
.Question_Modal > div:first-child {
    display: grid;
    grid-template-columns: 120px 144px;
    margin: 24px 0 0 24px;
}

/* Inquiry 주문 문의 태그 */
.Question_Modal > div:nth-child(2) {
    margin: 24px 0 0 24px;
}

/* 질문 그룹 */
.Question_Modal > div:nth-child(3) {
    display: grid;
    grid-template-rows: 56px 120px;
    width: 852px;
    height: 164px;
    border: solid 1px #c1c1c1;
    border-radius: 12px;
    background-color: #ffffff;
    word-break: break-all;
    margin: 0 auto 0 auto;
}

/* Q + 질문 제목 + 폴더 아이콘 + 첨부파일 */
.Question_Modal > div:nth-child(3) > div:first-child {
    display: grid;
    grid-template-columns: 72px 420px 36px 144px 96px;
    align-items: center;
    margin: 12px 0 0 0;
}

/* 질문 제목 */
.Question_Modal > div:nth-child(3) > div:first-child > div:nth-child(2) {
    font-size: 24px;
    font-weight: 600;
    /* color: #6e6e6e; */
}

/* 질문 내용 */
.Question_Modal > div:nth-child(3) > div:nth-child(2) {
    font-size: 16px;
    /* color: #6e6e6e; */
    margin: 4px 72px 0 72px;
    max-height: 84px;
    overflow-y: auto;
}

.Question_Modal > div:nth-child(3) > div:nth-child(2)::-webkit-scrollbar {
    display: block;
    width: 8px;
}

.Question_Modal > div:nth-child(3) > div:nth-child(2)::-webkit-scrollbar-thumb {
    background-color: #c1c1c1;
    border-radius: 10px;
}

/* 답변 그룹 */
.Question_Modal > div:nth-child(4).Completed {
    display: grid;
    grid-template-rows: 56px 120px;
    width: 852px;
    height: 204px;
    border: solid 1px #c1c1c1;
    border-radius: 12px;
    background-color: #ffffff;
    word-break: break-all;
    margin: 0 auto 0 auto;
}

/* A + 답변 제목 + 폴더 아이콘 + 첨부파일 */
.Question_Modal > div:nth-child(4).Completed > div:first-child {
    display: grid;
    grid-template-columns: 72px 420px 36px 144px 96px;
    align-items: center;
    margin: 12px 0 0 0;
}

/* 답변 제목 */
.Question_Modal
    > div:nth-child(4).Completed
    > div:first-child
    > div:nth-child(2) {
    font-size: 24px;
    font-weight: 600;
    /* color: #6e6e6e; */
    padding: 0 0 0 8px;
}

/* 답변 내용 */
.Question_Modal > div:nth-child(4).Completed > div:nth-child(2) {
    font-size: 16px;
    /* color: #6e6e6e; */
    margin: 12px 72px 0 72px;
    max-height: 320px;
    overflow-y: auto;
}

.Question_Modal
    > div:nth-child(4).Completed
    > div:nth-child(2)::-webkit-scrollbar {
    display: block;
    width: 8px;
}

.Question_Modal
    > div:nth-child(4).Completed
    > div:nth-child(2)::-webkit-scrollbar-thumb {
    background-color: #c1c1c1;
    border-radius: 10px;
}

/* 버튼 그룹 */
.Question_Modal > div:nth-child(5) {
    margin: 0 24px 0 0;
}

/* 버튼 그룹 좌측의 폴더 아이콘 및 첨부파일란 */
.Question_Modal > div:nth-child(5) img,
.Question_Modal > div:nth-child(5) span {
    float: left;
}

/* 버튼 그룹 좌측의 첨부파일란 */
.Question_Modal > div:nth-child(5) span {
    line-height: 20px;
    margin: 0 0 0 12px;
}

/* 마크(Q, A) */
.Question_Modal img:nth-child(1) {
    margin: 0 0 0 24px;
}

/******************************************************************/
/* Inquiry 번호 조회 모달 컴포넌트 **********************************/
/******************************************************************/
.Question_Inquiry_Modal_Container {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 100;
}

/* Inquiry 조회 그룹 모달 위치 고정 */
.Question_Inquiry_Modal {
    position: fixed;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -30%);
}

/* Inquiry 조회 그룹 */
.Question_Inquiry_Modal {
    width: 900px;
    height: 600px;
    display: grid;
    margin: 0 auto 0 auto;
    border: solid 1px #ffffff;
    border-radius: 12px;
    background-color: #ffffff;
}

/* Inquiry 목록 그룹 (버튼 그룹 미포함) */
.Question_Inquiry_Modal > div:nth-child(1) {
    height: 480px;
}

/* Inquiry 번호 검색창 */
.Question_Inquiry_Modal > div:nth-child(1) > div:first-child {
    /* background-color: pink !important; */
    grid-template-columns: 108px 240px 240px !important;
    font-size: 20px;
    font-weight: 600;
    border: none !important;
    padding: 0 !important;
    margin: 24px 0 0 84px !important;
}

/* Inquiry 목록별 속성 */
.Question_Inquiry_Modal > div:nth-child(1) > div:nth-child(n) {
    display: grid;
    grid-template-columns: 1.5fr 2fr 4fr 4fr 2fr 2fr;
    margin: 24px auto 0px auto;
    padding: 0px 24px 0px 24px;
    width: 684px;
    height: 72px;
    border: 1px solid #c1c1c1;
    border-radius: 24px;
    text-align: center;
    align-items: center;
}

/* Inquiry No */
.Question_Inquiry_Modal > div:nth-child(1) > div:nth-child(n) > div:nth-child(2) {
    font-size: 20px;
    font-weight: 600;
}

.Question_Inquiry_Modal > div:nth-child(1) > div:nth-child(n) > div:nth-child(4),
.Question_Inquiry_Modal > div:nth-child(1) > div:nth-child(n) > div:nth-child(5) {
    font-size: 20px;
    font-weight: 600;
}

/* 버튼 그룹 */
.Question_Inquiry_Modal_Container .Page {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    border: none !important;
    height: fit-content !important;
}

/* 버튼 개별 요소 */
.Question_Inquiry_Modal_Container .Page button {
    width: 36px;
    height: 36px;
    margin: 0px 4px 0px 4px;
    border: solid 1px #8b8b8b;
    border-radius: 12px;
    cursor: pointer;
}

/* 데이터 없을 경우 */
.Question_Inquiry_Modal p {
    border: #03507d 1px solid;
    width: 100%;
    height: 480px;
    line-height: 480px;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
}
